.fotoPrincipalFondoContacto{
    position: relative;
    background:$colorFondoClaro;
    overflow: hidden;
    margin-top: 150px;
    width: auto;
    height: 900px;
    h1 {
        font-family: $fuenteEspecial;
        padding: 300px 100px;
        position: relative;
        z-index: 2;
        text-align: center;
        font-size: 50px;
        color: $colorTitulosFoto;
    }
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.6;
        background-image: url("../multimedia/portadaInicio.jpg") ;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
}

.formulario{
    width: 600px;
    box-shadow: inset -1px 3px 8px 5px $colorFondoPscuro;
    border-radius: 20px;
    background-color: $colorFondoPscuro;
    margin: 50px 450px 50px 450px;
    padding: 30px;
    font-weight: normal;
    h2{
    text-align: center;
    padding-bottom:  20px;
    font-weight: normal;
    }
    div{
        padding: 10px;
        font-weight: normal;
    }

}

.botonJS{
    background-color: $colorFondoMedio;
    border-radius: 30px;
    &:hover{
        background-color: $colorFondoClaro;
    }

}

.botonBorrar{
    @extend .botonJS;
}

.botonEnviar{
    @extend .botonJS;
}
