$colorFondoClaro: #d9ae94;
$colorFondoMedio: #b58463;
$colorFondoPscuro: #b78b69;
$colorTextoBlack: black;
$colorTitulosFoto: #151514b3;
$colorMenuNav: rgba(224,225,221,.6);
$colorBordesBox: #b58463;
/* $colorFondoClaro: #e0e1dd;
$colorFondoMedio:#b9bab3;
$colorFondoPscuro: #7a7d73;
$colorTextoBlack: black;
$colorTitulosFoto: #1a1a19b3;
$colorMenuNav: rgba(224,225,221,.6);
$colorBordesBox: #bcbcb9; */
$fuentePrincipal: 'Montserrat', sans-serif;
$fuenteEspecial: 'Secular One', sans-serif;